Repository kojiyamauchi/react-simple-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update hygen.
  .hygen/add/store/Store.test.ts.t
  .hygen/add/store/Store.ts.t
  .hygen/add/store/index.js
Due: prettier --write

fix log.
  .hygen/add/component/index.js
  .hygen/add/hooks/index.js
  .hygen/add/page/index.js
Due: prettier --write

deploy: a297a1d62374994095d8fbea60e9208f32ea7fab
  storybook/425.1477d9d5.iframe.bundle.js
  storybook/425.1477d9d5.iframe.bundle.js.map
  storybook/425.e1b2afbf.iframe.bundle.js
  storybook/425.e1b2afbf.iframe.bundle.js.LICENSE.txt
  storybook/425.e1b2afbf.iframe.bundle.js.map
  storybook/434.8e966b60a0cdeb41e37d.manager.bundle.js
  storybook/434.f729328622e3c7463a12.manager.bundle.js
  storybook/434.f729328622e3c7463a12.manager.bundle.js.LICENSE.txt
  storybook/iframe.html
  storybook/index.html
Due: prettier --write

update hygen.
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.test.ts.t
Due: none

update hygen.
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.test.ts.t
Due: none

update modules.
  package.json
Due: none

update delivery.yml
  .github/workflows/delivery.yml
Due: none

update modules & npm script.
  package.json
Due: none

update snap shot test.
  resource/components/Layouts/FixedLayout/FixedLayout.test.tsx
  resource/components/Layouts/FluidLayout/FluidLayout.test.tsx
  resource/components/Managements/HeaderContainer/HeaderContainer.test.tsx
  resource/components/Presentations/Footer/Footer.test.tsx
  resource/components/Presentations/GlobalHeading/GlobalHeading.test.tsx
  resource/components/Presentations/Navigation/Navigation.test.tsx
  resource/components/Presentations/PageHeading/PageHeading.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update snap shots.
  resource/components/Layouts/FixedLayout/__snapshots__/FixedLayout.test.tsx.snap
  resource/components/Layouts/FluidLayout/__snapshots__/FluidLayout.test.tsx.snap
  resource/components/Managements/HeaderContainer/__snapshots__/HeaderContainer.test.tsx.snap
  resource/components/Presentations/Footer/__snapshots__/Footer.test.tsx.snap
  resource/components/Presentations/GlobalHeading/__snapshots__/GlobalHeading.test.tsx.snap
  resource/components/Presentations/Navigation/__snapshots__/Navigation.test.tsx.snap
  resource/components/Presentations/PageHeading/__snapshots__/PageHeading.test.tsx.snap
Due: none

update style.
  resource/styles/StyleGlobal.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

udpate .stylelintrc.yml
  .stylelintrc.yml
Due: none

update hygen.
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Hooks.test.ts.t
Due: none

update github actions.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci.yml
  .github/workflows/delivery.yml
  .github/workflows/preview.yml
Due: none

update router.(react-router-dom v5 -> v6)
  resource/router/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update webpack.dev.babel.js
  webpack/webpack.dev.babel.js
Due: prettier --write

add ＠types dir.
  resource/types/@types/.gitkeep
Due: none

deploy: 176dda26c17299c29d0c026363f998a5efb883f7
  404.html
  index.html
  js/common.modules.bundle.min.js
  js/core.min.js
  js/react.core.bundle.min.js
  js/react.core.bundle.min.js.LICENSE.txt
  storybook/278.e372a74d9125ffd0419c.manager.bundle.js
  storybook/278.e372a74d9125ffd0419c.manager.bundle.js.LICENSE.txt
  storybook/278.e7754803.iframe.bundle.js
  storybook/278.e7754803.iframe.bundle.js.LICENSE.txt
  storybook/331.7827dbea.iframe.bundle.js
  storybook/331.a379d8877ccfa4c32b56.manager.bundle.js
  storybook/331.a97e19de.iframe.bundle.js
  storybook/331.a97e19de.iframe.bundle.js.LICENSE.txt
  storybook/331.c2f04c094d04ca4d87c9.manager.bundle.js
  storybook/331.c2f04c094d04ca4d87c9.manager.bundle.js.LICENSE.txt
  storybook/574.0f614bc5c017e0ecacc8.manager.bundle.js
  storybook/574.2e109b49.iframe.bundle.js
  storybook/712.1ada558017d4ea59195f.manager.bundle.js
  storybook/712.1ada558017d4ea59195f.manager.bundle.js.LICENSE.txt
  storybook/712.e77405f04efa65f1c754.manager.bundle.js
  storybook/802.7fdfbc75.iframe.bundle.js
  storybook/802.7fdfbc75.iframe.bundle.js.LICENSE.txt
  storybook/881.30c0653c.iframe.bundle.js
  storybook/881.54b6f51e6c19daadd867.manager.bundle.js
  storybook/881.69257737ccd87466e25a.manager.bundle.js
  storybook/881.e75e997a.iframe.bundle.js
  storybook/894.e69d7bd8.iframe.bundle.js
  storybook/913.18fdb5d9.iframe.bundle.js
  storybook/913.191fd838.iframe.bundle.js
  storybook/913.5594c8456790add21314.manager.bundle.js
  storybook/913.c42b270ad5f67b47a4df.manager.bundle.js
  storybook/iframe.html
  storybook/index.html
  storybook/main.1d25cb76.iframe.bundle.js
  storybook/main.e6a4dbe3.iframe.bundle.js
  storybook/runtime~main.0893785b.iframe.bundle.js
  storybook/runtime~main.0a95a815.iframe.bundle.js
  storybook/runtime~main.65641b772d40cc6f6272.manager.bundle.js
  storybook/runtime~main.714feae2d2b417cf35ca.manager.bundle.js
Due: prettier --write

update hygen.
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/index.js
  .hygen/add/page/Page.ts.t
Due: prettier --write

update editorconfig.
  .editorconfig
Due: none

udpate yarnclean.
  .yarnclean
Due: none

update around jest.
  jest.config.ts
  jestFileTransformer.js
Due: prettier --write, eslint --fix --max-warnings 0

update .lintstagedrc.yml
  .lintstagedrc.yml
Due: none

update .eslintrc.yml
  .eslintrc.yml
Due: none

add cspell.yml
  cspell.yml
Due: none

update setting.json
  .vscode/settings.json
Due: none

update around storybook.
  .storybook/main.js
  .storybook/preview.js
Due: prettier --write

update webpack.
  webpack/webpack.base.babel.js
  webpack/webpack.dev.babel.js
Due: prettier --write

update declaration.
  resource/types/declaration/index.d.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

udpate base.config.ts
  base.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

update tsconfig.json
  tsconfig.json
Due: none

update module & command on package.json
  package.json
Due: none

add createRoot APIs. (support for React18)
  resource/Core.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

lint styles.
  resource/styles/StyleGlobal.ts
  resource/styles/StyleMixins.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update components.
  resource/components/Layouts/FixedLayout/index.tsx
  resource/components/Layouts/FluidLayout/index.tsx
  resource/components/Layouts/index.tsx
  resource/components/Managements/HeaderContainer/Component.tsx
  resource/components/Presentations/Footer/Component.tsx
  resource/components/Presentations/GlobalHeading/Component.tsx
  resource/components/Presentations/Navigation/Component.tsx
  resource/components/Presentations/PageHeading/Component.tsx
  resource/components/Seo/index.tsx
  resource/pages/FourthPage.tsx
  resource/pages/PrimaryPage.tsx
  resource/pages/SecondaryPage.tsx
  resource/pages/ThirdPage.tsx
  resource/router/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

Path conditions:
  prettier --write: (any of: ./**/*.{ts,tsx}) or (any of: ./**/*.{js,jsx})
  eslint --fix --max-warnings 0: any of: ./**/*.{ts,tsx}
  stylelint --fix: any of: resource/**/*.{ts,tsx,js,jsx}
