Repository kojiyamauchi/react-simple-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

.lintstagedrc.yml:

./**/*.{ts,tsx}:
  - prettier --write
  - eslint --fix --max-warnings 0
./**/*.{js,jsx}: prettier --write
resource/**/*.{ts,tsx,js,jsx}: stylelint --fix

add webfont link for storybook.
  .storybook/preview.js
Due: prettier --write

deploy: 6dd23faf749bc7e088641db36f82f698d68e317f
  storybook/iframe.html
  storybook/main.9373d6a1.iframe.bundle.js
  storybook/main.9373d6a1.iframe.bundle.js.map
  storybook/main.cb016001.iframe.bundle.js
  storybook/main.cb016001.iframe.bundle.js.map
Due: prettier --write

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/Hooks.ts.t
  .hygen/add/component/index.js
  .hygen/add/hooks/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.ts.t
  .hygen/add/hooks/index.js
Due: prettier --write

fix shell.
  .hygen/add/component/Component.tsx.t
Due: none

deploy: 07e1ba7035da78fb8045ec562c40fafcf51e9fea
  storybook/0.8114873b18fa2cb85858.manager.bundle.js
  storybook/0.c082987f3ea74131cec2.manager.bundle.js
  storybook/12.86a20ce1.iframe.bundle.js
  storybook/12.86a20ce1.iframe.bundle.js.map
  storybook/12.c2102d77.iframe.bundle.js
  storybook/12.c2102d77.iframe.bundle.js.LICENSE.txt
  storybook/12.c2102d77.iframe.bundle.js.map
  storybook/5.1d4f61567f355ca1612b.manager.bundle.js
  storybook/5.34f7d39717f90bb7d9be.manager.bundle.js
  storybook/6.979bc067dee48bb81bca.manager.bundle.js
  storybook/6.cd424431e5187485cd71.manager.bundle.js
  storybook/6.cd424431e5187485cd71.manager.bundle.js.LICENSE.txt
  storybook/iframe.html
  storybook/index.html
  storybook/runtime~main.2f2bdeb1e7d0e8ca4619.manager.bundle.js
  storybook/runtime~main.89050fdfff8b9b8a25f7.manager.bundle.js
  storybook/vendors~main.7d743ba9604b5c216e47.manager.bundle.js
  storybook/vendors~main.7d743ba9604b5c216e47.manager.bundle.js.LICENSE.txt
  storybook/vendors~main.d806af90effcb4db027f.manager.bundle.js
Due: prettier --write

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/Hooks.ts.t
  .hygen/add/hooks/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.ts.t
  .hygen/add/page/Page.ts.t
  .hygen/add/store/Store.ts.t
  .hygen/add/store/index.js
Due: prettier --write

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
Due: none

update hygen.
  .hygen/add/component/index.js
  .hygen/add/store/index.js
Due: prettier --write

update hygen.
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/hooks/Hooks.test.ts.t
Due: none

update modules.
  package.json
Due: none

update components.
  resource/components/Managements/HeaderContainer/Component.tsx
  resource/components/Managements/HeaderContainer/HeaderContainer.stories.tsx
  resource/components/Managements/HeaderContainer/HeaderContainer.test.tsx
  resource/components/Managements/HeaderContainer/index.tsx
  resource/components/Presentations/Footer/Component.tsx
  resource/components/Presentations/Footer/Footer.stories.tsx
  resource/components/Presentations/Footer/Footer.test.tsx
  resource/components/Presentations/Footer/index.tsx
  resource/components/Presentations/GlobalHeading/Component.tsx
  resource/components/Presentations/GlobalHeading/GlobalHeading.stories.tsx
  resource/components/Presentations/GlobalHeading/GlobalHeading.test.tsx
  resource/components/Presentations/GlobalHeading/index.tsx
  resource/components/Presentations/Navigation/Component.tsx
  resource/components/Presentations/Navigation/Navigation.stories.tsx
  resource/components/Presentations/Navigation/Navigation.test.tsx
  resource/components/Presentations/Navigation/index.tsx
  resource/components/Presentations/PageHeading/Component.tsx
  resource/components/Presentations/PageHeading/PageHeading.stories.tsx
  resource/components/Presentations/PageHeading/PageHeading.test.tsx
  resource/components/Presentations/PageHeading/index.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update hygen.
  .hygen/add/component/Component.stories.tsx.t
  .hygen/add/component/Component.test.tsx.t
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/index.tsx.t
Due: none

maybe testing-library hasn't caught up with jest updates...
  package.json
Due: none

update npm script.
  package.json
Due: none

update components.
  resource/components/Layouts/FixedLayout/index.tsx
  resource/components/Managements/HeaderContainer/Component.tsx
  resource/components/Presentations/Footer/Component.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update hygen.
  .hygen/add/component/Hooks.test.ts.t
  .hygen/add/component/Hooks.ts.t
Due: none

update storybook.
  .storybook/preview.js
  resource/styles/StyleStorybook.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update snap shot.
  resource/components/Layouts/FixedLayout/__snapshots__/FixedLayout.test.tsx.snap
  resource/components/Managements/HeaderContainer/__snapshots__/HeaderContainer.test.tsx.snap
  resource/components/Presentations/Footer/__snapshots__/Footer.test.tsx.snap
Due: none

deploy: 58541ee6e0074d2efb357f585a22c0d45d27b6ca
  404.html
  index.html
  js/core.min.js
  storybook/iframe.html
  storybook/main.1c67583f.iframe.bundle.js
  storybook/main.1c67583f.iframe.bundle.js.map
  storybook/main.423770fc.iframe.bundle.js
  storybook/main.423770fc.iframe.bundle.js.map
Due: prettier --write

udpate hygen.
  .hygen/add/store/Store.ts.t
Due: none

update break point.
  resource/components/Presentations/Footer/Component.tsx
  resource/components/Presentations/GlobalHeading/Component.tsx
  resource/components/Presentations/Navigation/Component.tsx
  resource/components/Presentations/PageHeading/Component.tsx
  resource/styles/StyleConstants.ts
  resource/styles/StyleMixins.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update types.
  resource/types/type/index.ts
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update hygen.
  .hygen/add/component/Component.tsx.t
  .hygen/add/component/index.tsx.t
Due: none

update snap shot.
  resource/components/Layouts/FixedLayout/__snapshots__/FixedLayout.test.tsx.snap
  resource/components/Managements/HeaderContainer/__snapshots__/HeaderContainer.test.tsx.snap
  resource/components/Presentations/Footer/__snapshots__/Footer.test.tsx.snap
  resource/components/Presentations/GlobalHeading/__snapshots__/GlobalHeading.test.tsx.snap
  resource/components/Presentations/Navigation/__snapshots__/Navigation.test.tsx.snap
  resource/components/Presentations/PageHeading/__snapshots__/PageHeading.test.tsx.snap
Due: none

deploy: dfbf335fae376c0a48aa384a4414f2596bdd6b03
  404.html
  index.html
  js/core.min.js
  storybook/iframe.html
  storybook/main.1c67583f.iframe.bundle.js
  storybook/main.1c67583f.iframe.bundle.js.map
  storybook/main.d3e1d094.iframe.bundle.js
  storybook/main.d3e1d094.iframe.bundle.js.map
Due: prettier --write

update modules & npm script.
  package.json
Due: none

update .eslintrc.yml
  .eslintrc.yml
Due: none

fix lint.
  resource/components/Layouts/FixedLayout/FixedLayout.stories.tsx
  resource/components/Layouts/FluidLayout/FluidLayout.stories.tsx
  resource/components/Managements/HeaderContainer/HeaderContainer.stories.tsx
  resource/components/Presentations/Footer/Footer.stories.tsx
  resource/components/Presentations/GlobalHeading/GlobalHeading.stories.tsx
  resource/components/Presentations/Navigation/Navigation.stories.tsx
  resource/components/Presentations/PageHeading/PageHeading.stories.tsx
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

update hygen.
  .hygen/add/component/Component.stories.tsx.t
Due: none

add @storybook/manager-webpack5
  package.json
Due: none

update jest.config.ts
  jest.config.ts
Due: prettier --write, eslint --fix --max-warnings 0
